:root
{
  /* Fonts */
  --carlito: 'Carlito', sans-serif;
  --dm-serif: 'DM Serif Text', serif;
  --ubuntu: 'Ubuntu', sans-serif;
  /* Colors */
  /*Primary*/ 
  --blue: #336CFB;
  /*Secondary*/ 
  --dark-grayish: #1F2022;
  --light-graish: #C0C1C1;
  --white: #ffff;
  --black: #0000;
}

*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content 
{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 300px auto auto;
  grid-template-areas: 
  "N U U"
  "N M M" 
  "N C C";
}
.content > * 
{
  border: 1px solid black;
}
